<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/ordem-servico']">
        <ion-icon size="large" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="ordem_servico">
      {{ordem_servico.classificacao.descricao ?? "Carregando..."}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="popover-trigger">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
      <ion-popover trigger="popover-trigger" triggerAction="click">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item id="popover-trigger" button [routerLink]="['/ordem-servico/update/'+id_os]">
                <ion-icon
                  aria-hidden="true"
                  slot="start"
                  name="create-outline"
                ></ion-icon>
                <ion-label>Editar</ion-label>
              </ion-item>
              <ion-item button (click)="imprimirOS()">
                <ion-icon
                  aria-hidden="true"
                  slot="start"
                  name="print-outline"
                ></ion-icon>
                <ion-label>Imprimir</ion-label>
              </ion-item>
              <ion-item button (click)="excluirOS()">
                <ion-icon
                  aria-hidden="true"
                  slot="start"
                  name="trash-outline"
                ></ion-icon>
                <ion-label color="danger">Excluir</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="width: 100%; display: flex; justify-content: center">
    <ion-spinner *ngIf="!loaded" name="crescent"></ion-spinner>
  </div>
  <ion-list *ngIf="loaded">
    <ion-item>{{ordem_servico.titulo}}</ion-item>
    <ion-item>{{ordem_servico.cliente!.nome}}</ion-item>

    <ion-item-group>
      <ion-item-divider>
        <ion-label color="medium">Dados do Cliente</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-checkbox
          [(ngModel)]="impressao_fields.cnpj_cliente"
          labelPlacement="end"
          >CNPJ
          <ion-label color="medium">{{ordem_servico.cliente!.cnpj}}</ion-label>
        </ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.telefone_cliente"
          labelPlacement="end"
          >Telefone
          <ion-label color="medium"
            >{{ordem_servico.cliente?.telefone ?? 'N/A'}}</ion-label
          >
        </ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.email_cliente"
          labelPlacement="end"
          >Email<ion-label color="medium"
            >{{ordem_servico.cliente?.email ?? "N/A"}}</ion-label
          ></ion-checkbox
        >
      </ion-item>
      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.endereco_cliente"
          labelPlacement="end"
          >Endereço<ion-label color="medium"
            >{{ordem_servico.cliente!.endereco!.cidade ?? "N/A"}} -
            {{ordem_servico.cliente!.endereco!.estado ?? "N/A"}}</ion-label
          ></ion-checkbox
        >
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label color="medium">Dados do Equipamento</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.nome_equipamento"
          labelPlacement="end"
          >Equipamento<ion-label color="medium"
            >{{ordem_servico.equipamento?.nome ?? "N/A"}}</ion-label
          ></ion-checkbox
        >
      </ion-item>

      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.numero_serie"
          labelPlacement="end"
          >Número de Série<ion-label color="medium"
            >{{ordem_servico.equipamento?.numero_serie ?? "N/A"}}</ion-label
          ></ion-checkbox
        >
      </ion-item>
      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.numero_patrimonio"
          labelPlacement="end"
          >Número de Patrimônio<ion-label color="medium"
            >{{ordem_servico.equipamento?.numero_patrimonio ??
            "N/A"}}</ion-label
          ></ion-checkbox
        >
      </ion-item>
      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.id_equipamento"
          labelPlacement="end"
          >Código Descarmed<ion-label color="medium"
            >{{ordem_servico.equipamento?.id ?? "N/A"}}</ion-label
          ></ion-checkbox
        >
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label color="medium">Dados da OS</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.data_inicio"
          labelPlacement="end"
          >Data Início</ion-checkbox
        >
        <ion-label color="medium"
          >{{ordem_servico.data_inicio_formated}}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.data_conclusao"
          labelPlacement="end"
          >Data Conclusão</ion-checkbox
        >
        <ion-label color="medium"
          >{{ordem_servico.data_conclusao_formated}}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.status"
          labelPlacement="end"
          >Status</ion-checkbox
        >
        <ion-label color="medium"
          >{{ordem_servico.status?.descricao ?? "N/A"}}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.nota_fiscal"
          labelPlacement="end"
          >Nota Fiscal</ion-checkbox
        >
        <ion-label color="medium"
          >{{ordem_servico.nota_fiscal ?? "N/A"}}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.codigo_compra"
          labelPlacement="end"
          >Código de Compra</ion-checkbox
        >
        <ion-label color="medium"
          >{{ordem_servico.codigo_compra ?? "N/A"}}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.descricao"
          labelPlacement="end"
          >Observação</ion-checkbox
        >
        <ion-label color="medium"
          >{{ordem_servico.descricao ?? "N/A"}}</ion-label
        >
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.items"
          labelPlacement="end"
          >Itens</ion-checkbox
        >
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="2">Qtd.</ion-col>
            <ion-col size="2.5">Unidade</ion-col>
            <ion-col size="4">Nome</ion-col>
            <ion-col>Valor</ion-col>
          </ion-row>
          <ion-row *ngFor="let item of ordem_servico.itens">
            <ion-col size="2"> {{item.quantidade}} </ion-col>
            <ion-col size="2.5"
              >{{item.unidade ? item.unidade.descricao : "N/A"}}
            </ion-col>
            <ion-col size="4"> {{item.nome}} </ion-col>
            <ion-col> {{item.valor_unitario.valorFormated}} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-checkbox
          [checked]="true"
          [(ngModel)]="impressao_fields.valor"
          labelPlacement="end"
          >Valor Total</ion-checkbox
        >
        <ion-label color="medium"
          >{{ordem_servico.valor_total.valorFormated}}</ion-label
        >
      </ion-item>
    </ion-item-group>
    <!-- <div class="ion-padding">
      <ion-button
        color="primary"
        [routerLink]="['/ordem-servico/update/'+id_os]"
        expand="block"
        >Editar</ion-button
      >
      <ion-button color="medium" (click)="imprimirOS()" expand="block"
        >Gerar PDF</ion-button
      >
      <ion-button
        (click)="excluirOS()"
        expand="block"
        color="danger"
        fill="outline"
        >Excluir</ion-button
      >
    </div> -->
  </ion-list>
</ion-content>
