<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/equipamentos']">
        <ion-icon size="large" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> CADASTRAR EQUIPAMENTO </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="ion-padding">
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Nº de Série"
        name="numero_serie"
        [(ngModel)]="equipamento.numero_serie"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Nº de Patrimônio"
        name="numero_patrimonio"
        [(ngModel)]="equipamento.numero_patrimonio"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Nome"
        name="nome"
        [(ngModel)]="equipamento.nome"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-searchbar
        [debounce]="2000"
        (ionInput)="filtrarClientes($event)"
        placeholder="Buscar cliente pelo nome"
      >
      </ion-searchbar>
    </ion-item>

    <ion-list>
      @for(cliente of clientes; track cliente){
      <ion-radio
        class="ion-padding"
        (click)="selecionarCliente(cliente.id)"
        labelPlacement="end"
        >{{ cliente.nome }}</ion-radio
      >
      }
    </ion-list>

    <ion-button (click)="onSubmit()" expand="block">Cadastrar</ion-button>
    <ion-button [routerLink]="['/equipamentos']" expand="block" fill="outline"
      >Cancelar</ion-button
    >
  </form>
</ion-content>
