<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/clientes']">
        <ion-icon size="large" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> CADASTRAR CLIENTE </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="ion-padding">
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Nome"
        name="nome"
        [(ngModel)]="cliente.nome"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="CNPJ"
        name="cnpj"
        [maskito]="cnpjMask"
        [maskitoElement]="maskPredicate"
        [(ngModel)]="cliente.cnpj"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Razão Social"
        name="razao_social"
        [(ngModel)]="cliente.razao_social"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Email"
        name="email"
        [(ngModel)]="cliente.email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Telefone"
        name="telefone"
        [maskito]="telefoneMask"
        [maskitoElement]="maskPredicate"
        [(ngModel)]="cliente.telefone"
      ></ion-input>
    </ion-item>

    <ion-item-divider>
      <ion-label> Dados de Endereço </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Logradouro"
        name="logradouro"
        [(ngModel)]="endereco.logradouro"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="CEP"
        name="cep"
        [maskito]="cepMask"
        [maskitoElement]="maskPredicate"
        [(ngModel)]="endereco.cep"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Número"
        name="numero"
        [(ngModel)]="endereco.numero"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Complemento"
        name="complemento"
        [(ngModel)]="endereco.complemento"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Bairro"
        name="bairro"
        [(ngModel)]="endereco.bairro"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Cidade"
        name="cidade"
        [(ngModel)]="endereco.cidade"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Estado"
        name="estado"
        [(ngModel)]="endereco.estado"
      ></ion-input>
    </ion-item>

    <ion-button (click)="onSubmit()" expand="block">Cadastrar</ion-button>
    <ion-button [routerLink]="['/clientes']" expand="block" fill="outline"
      >Cancelar</ion-button
    >
  </form>
</ion-content>
