<form [formGroup]="os_form" class="ion-padding">
  <ion-item>
    <ion-input
      labelPlacement="floating"
      label="Serviço"
      formControlName="titulo"
    ></ion-input>
  </ion-item>
  <ion-item>
    <app-status-select
      [selected]="os_form.value.id_status"
      (selecionar)="setStatus($event)"
      [isFilter]="false"
    ></app-status-select>
  </ion-item>
  <ion-item>
    <app-classificacao-select
      [selected]="os_form.value.id_classificacao"
      (selecionar)="setClassificacao($event)"
      [isFilter]="false"
    ></app-classificacao-select>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="floating"
      label="Cód. de Compra"
      formControlName="codigo_compra"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="floating"
      label="Nota Fiscal"
      formControlName="nota_fiscal"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Data Início</ion-label>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
  </ion-item>
  <ion-item>
    <ion-label>Data Conclusão</ion-label>
    <ion-datetime-button datetime="data-conclusao"></ion-datetime-button>
  </ion-item>
  <ion-item>
    <ion-textarea
      labelPlacement="floating"
      label="Observação"
      formControlName="observacao"
    ></ion-textarea>
  </ion-item>

  <ion-item> Cliente </ion-item>

  <app-clientes-select
    [selected]="os_form.value.id_cliente"
    (selecionar)="setCliente($event)"
  ></app-clientes-select>

  <app-equipamento-select
    [selected]="os_form.value.id_equipamento"
    [id_cliente]="os_form.value.id_cliente"
    (selecionar)="setEquipamento($event)"
  ></app-equipamento-select>

  <ion-item>
    <ion-label>Itens</ion-label>
    <ion-button (click)="addItemInput()">Adicionar</ion-button>
  </ion-item>

  <ion-item-group formArrayName="itens">
    @for (item of ItemsFormArray.controls; track $index) {
    <ion-item [formGroupName]="$index">
      <div
        style="
          display: grid;
          grid-template-columns: 0.5fr 1fr 1.5fr 1fr;
          width: 100%;
        "
      >
        <ion-input
          (ionChange)="recalculateValor()"
          placeholder="0"
          type="number"
          min="0"
          formControlName="quantidade"
        ></ion-input>
        <ion-select
          aria-label="unidade"
          placeholder="Und."
          formControlName="id_unidade"
        >
          @for(und of unidades; track und){
          <ion-select-option [value]="und.id">{{
            und.descricao
          }}</ion-select-option>
          }
        </ion-select>
        <ion-input placeholder="Nome Item" formControlName="nome"></ion-input>
        <ion-input
          (ionChange)="recalculateValor()"
          [maskito]="mask"
          [maskitoElement]="maskPredicate"
          placeholder="R$ 0,00"
          formControlName="valor_unitario"
        ></ion-input>
      </div>
    </ion-item>
    }
  </ion-item-group>
  <ion-item>
    <ion-input
      label="Valor Total"
      labelPlacement="floating"
      placeholder="R$ 0,00"
      [maskito]="mask"
      [maskitoElement]="maskPredicate"
      formControlName="valor_total"
    ></ion-input>
  </ion-item>

  <ion-button (click)="onSubmit()" expand="block">Cadastrar</ion-button>
  <ion-button [routerLink]="['/ordem-servico']" expand="block" fill="outline"
    >Cancelar</ion-button
  >
</form>
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      [value]="os_form.value.data_inicio"
      (ionChange)="setDataInicio($event)"
      presentation="date"
      [showDefaultButtons]="true"
      doneText="OK"
      cancelText="Cancelar"
      [formatOptions]="{
        date: {
          month: '2-digit',
          day: '2-digit',
          year: 'numeric'
        }
      }"
      id="datetime"
      locale="pt-BR"
    ></ion-datetime>
  </ng-template>
</ion-modal>
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      [value]="os_form.value.data_conclusao"
      (ionChange)="setDataConclusao($event)"
      id="data-conclusao"
      [showDefaultButtons]="true"
      doneText="OK"
      cancelText="Cancelar"
      presentation="date"
      locale="pt-BR"
      [formatOptions]="{
        date: {
          month: '2-digit',
          day: '2-digit',
          year: 'numeric'
        }
      }"
    ></ion-datetime>
  </ng-template>
</ion-modal>
