<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Ordens de Serviço </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      debounce="1000"
      (ionInput)="searchOS($event)"
      show-clear-button="focus"
      placeholder="Buscar"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar style="padding: 0.5em">
    <ion-buttons style="gap: 0.5em">
      <div class="filters">
        <app-status-select
          (selecionar)="addParam('id_status',$event)"
        ></app-status-select>
        <app-classificacao-select
          (selecionar)="addParam('id_classificacao',$event)"
        ></app-classificacao-select>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cards-list">
    @for(ordem of ordens; track ordem){
    <app-ordem-servico-card [os]="ordem"></app-ordem-servico-card>
    }
  </div>
  <div [hidden]="stopLoading">
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
