<ion-item>
  <ion-searchbar
    [debounce]="2000"
    (ionInput)="filtrarClientes($event)"
    placeholder="Buscar cliente pelo nome"
  >
  </ion-searchbar>
</ion-item>

<ion-list>
  <div style="text-align: center;">
    <ion-spinner *ngIf="!loaded && !searching"></ion-spinner>
  </div>
  <ion-radio-group [allowEmptySelection]="true" *ngIf="clientes.length > 0 && loaded" [value]="selected">
    @for(cliente of clientes; track cliente){
    <ion-radio
      [id]="'cliente-'+cliente.id"
      [value]="cliente.id"
      class="ion-padding"
      (click)="selecionarCliente(cliente.id)"
      labelPlacement="end"
      >{{ cliente.nome }}</ion-radio
    >
    <br>
    }
  </ion-radio-group>
  <h1 style="text-align: center;" *ngIf="clientes.length == 0 && loaded">Cliente não encontrado</h1>
</ion-list>
