<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/ordem-servico']">
        <ion-icon size="large" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> CADASTRAR ORDEM DE SERVIÇO </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="ion-padding">
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Serviço"
        name="titulo"
        [(ngModel)]="ordem_servico.titulo"
      ></ion-input>
    </ion-item>
    <ion-item>
      <app-status-select
        [isFilter]="false"
        (selecionar)="ordem_servico.setStatus($event)"
      ></app-status-select>
    </ion-item>
    <ion-item>
      <app-classificacao-select
        [isFilter]="false"
        (selecionar)="ordem_servico.setClassificacao($event)"
      ></app-classificacao-select>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Cód. de Compra"
        name="codigo_compra"
        [(ngModel)]="ordem_servico.codigo_compra"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="floating"
        label="Nota Fiscal"
        name="nota_fiscal"
        [(ngModel)]="ordem_servico.nota_fiscal"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Data Início</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </ion-item>
    <ion-item>
      <ion-label>Data Conclusão</ion-label>
      <ion-datetime-button datetime="data-conclusao"></ion-datetime-button>
    </ion-item>
    <ion-item>
      <ion-textarea
        labelPlacement="floating"
        label="Descrição"
        name="descricao"
        [(ngModel)]="ordem_servico.descricao"
      ></ion-textarea>
    </ion-item>

    <ion-item> Cliente </ion-item>

    <app-clientes-select
      (selecionar)="selecionarCliente($event)"
    ></app-clientes-select>

    <app-equipamento-select
      [id_cliente]="ordem_servico.id_cliente"
      (selecionar)="selecionarEquipamento($event)"
    ></app-equipamento-select>

    <ion-item>
      <ion-label>Itens</ion-label>
      <ion-button (click)="addItemInput()">Adicionar</ion-button>
    </ion-item>

    <ion-item-group>
      @for (item of itens; track item.id) {
      <ion-item>
        <div
          style="
            display: grid;
            grid-template-columns: 0.5fr 1fr 1.5fr 1fr;
            width: 100%;
          "
        >
          <ion-input
            [(ngModel)]="item.quantidade"
            [ngModelOptions]="{ standalone: true }"
            (ionChange)="recalculateValor()"
            placeholder="0"
            type="number"
            min="0"
          ></ion-input>
          <app-unidade-select
            (selecionar)="selecionarUnidade($event, item)"
          ></app-unidade-select>
          <ion-input
            [(ngModel)]="item.nome"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Nome Item"
          ></ion-input>
          <ion-input
            [(ngModel)]="item.valor_unitario_rs"
            [ngModelOptions]="{ standalone: true }"
            (ionChange)="recalculateValor()"
            [maskito]="mask"
            [maskitoElement]="maskPredicate"
            placeholder="R$ 0,00"
          ></ion-input>
        </div>
      </ion-item>
      }
    </ion-item-group>
    <ion-item>
      <ion-input
        label="Valor Total"
        labelPlacement="floating"
        placeholder="R$ 0,00"
        [maskito]="mask"
        [maskitoElement]="maskPredicate"
        name="valor_total"
        [(ngModel)]="valor_total"
      ></ion-input>
    </ion-item>

    <ion-button (click)="onSubmit()" expand="block">Cadastrar</ion-button>
    <ion-button [routerLink]="['/ordem-servico']" expand="block" fill="outline"
      >Cancelar</ion-button
    >
  </form>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        (ionChange)="setData($event, 'inicio')"
        [(ngModel)]="ordem_servico.data_inicio"
        presentation="date"
        [showDefaultButtons]="true"
        doneText="OK"
        cancelText="Cancelar"
        [formatOptions]="{
        date: {
          month: '2-digit',
          day: '2-digit',
          year: 'numeric'
        }
      }"
        id="datetime"
        locale="pt-BR"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        (ionChange)="setData($event, 'conclusao')"
        [(ngModel)]="ordem_servico.data_conclusao"
        [showDefaultButtons]="true"
        doneText="OK"
        cancelText="Cancelar"
        presentation="date"
        locale="pt-BR"
        [formatOptions]="{
        date: {
          month: '2-digit',
          day: '2-digit',
          year: 'numeric'
        }
      }"
        id="data-conclusao"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
