<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Equipamentos </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      debounce="1000"
      (ionInput)="searchEquipamento($event)"
      show-clear-button="focus"
      placeholder="Buscar"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cards-list">
    @for (equipamento of equipamentos; track equipamento){
      <app-equipamento-card [equipamento]="equipamento"></app-equipamento-card>
    }

    <h1 *ngIf="equipamentos.length == 0 && loaded" style="text-align: center;padding-top: 4em;">Não há equipamentos cadastrados</h1>
  </div>
  <div [hidden]="stopLoading">
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
